
body {
    background-color: #f9f7f7;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: #b1b1b1;
    border-width: 6px;
    width: 6%;
}

h1 {
    color: #3f72af;
}

h3 {
    color: #3f72af;
}